- provide(:title, 'Home')
.center.hero-unit
  %img{ :title => "notGugle", :src => "assets/logo.png", :border => "0", :alt => "logo" }
  = form_tag(root_path, :id => "searchbox") do
    = text_field_tag "search", "", :placeholder => "Type here", :id => "search"
    = submit_tag("Search", :id => "submit")
  - if @results
    %small Number of results : #{@results.count} results
    #list_results
      %ol
        - @results.each do |result|
          %li
            = link_to get_title("#{Rails.root.join('public')}/html/#{result['filename']}"), "html/#{result['filename']}"
            \--
            = link_to result['filename'], "html/#{result['filename']}"
            \- poids #{(result['weight'] - 0.0005).round(1)}
            %ol
              %li
                = @desc_pages.has_key?(result['filename']) ? @desc_pages[result['filename']] : "no description"
