- provide(:title, 'Accueil')
.center.hero-unit
  %img{ :title => "notGugle", :src => "assets/logo.png", :border => "0", :alt => "logo", :class => "logo"  }
  #elapsed_time
  :javascript
    $(function() {
      $("#search").focus();
      $('.navbar-search').hide();
    });
  = form_tag(root_path, :id => "searchbox") do
    = text_field_tag "search", "", :placeholder => "Rechercher", :id => "search"
    = submit_tag("Search", :id => "submit")
  - if !(@results.nil?)
    - if @results.length > 0
      :javascript
        $(function() {
          $('#searchbar').val("#{params[:search]}");
          $('.navbar-search').show();
          $('.logo').remove();
          $('#searchbox').remove();
          $('#elapsed_time').append("#{@results['pages'].count} #{pluralize_stats(@results["pages"].count)} en #{(@results['timer'] - 0.0005).round(3)} sec.")
        });
      #main_result
        %h3{:style=>'text-align: left'} Résultats :
        %hr
        #list_results
          %ol
            - @results["pages"].each do |result|
              %li
                #title_page
                  = link_to get_title("#{Rails.root.join('public')}/html/#{result['filename']}"), "html/#{result['filename']}"
                %ol
                  #description_page
                    = @results["desc_pages"].has_key?(result['filename']) ? @results["desc_pages"][result['filename']] : "Pas de description pour cette page."
                  #keywords_page
                    = "Correspondances dans cette page : #{result["words"].join(', ')}"
              %br/
        - else
          #list_results
            %p No result found.
            :javascript
            $(function() {
              $('#search').val("#{params[:search]}");
            });
